---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Impressum: Men’s Circle Niederbayern"
  description="Rechtliche Angaben zum Männerkreis Niederbayern."
  canonicalPath="/impressum"
>
  <section class="c-text">
    <div class="c-text__wrapper">
      <h2 class="c-header c-header--h2" data-animate="fadeDown">
        Impressum
      </h2>

      <div class="c-text__inner">
        <div data-animate="fadeUp">
          <h2><strong>Angaben gemäß § 5 TMG</strong></h2>
          <p>
            Markus Sommer<br />
            Ahornstraße 15<br />
            94369 Rain
          </p>
          <h2><strong>Kontakt</strong></h2>
          <p>
            Telefon:
            <a href="tel:015126072643" rel="noopener noreferrer nofollow">
              015126072643
            </a>
            <br />
            E-Mail:
            <a href="mailto:markus@mens-circle.de" rel="noopener noreferrer nofollow">
              markus@mens-circle.de
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
