---
import EventCard from "./EventCard.astro";
import type { EventContent } from "../types";

type Props = {
  events: EventContent[];
};

const { events } = Astro.props;
---

<section class="events" id="events">
  <header class="events__header">
    <div class="events__header-text reveal-text">
      <span class="events__label">NÄCHSTER TERMIN</span>
      <h2 class="section__title">Kommendes Treffen</h2>
    </div>
  </header>

  <div class="events__container">
    {events.map((event) => (
      <EventCard event={event} />
    ))}
  </div>
</section>
